@charset "utf-8";

//
// VARIABLES
//

// Colors
$white: #fff;
$black: #000;
$gray: #666;
$lightGray: #eee;
$paleGray: #ddd;
$darkGray: #333;
$darkerGray: #222;
$blue: #0645AD;
$purple: #663366;

// Pagination colors
$pagination-color: $darkGray;
$pagination-hover-color: $blue;
$pagination-active-bg: $blue;
$pagination-active-color: $white;
$pagination-separator-color: $paleGray;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// Transitions
$time: 250ms;
