---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <div class="post-categories">
    <h2>Post categories :</h2>
    <h4>
      {% if post %}
      {% assign categories = post.categories %}
      {% else %}
      {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
      <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </h4>
  </div>

  <div class="share-post">
    <h2>Share this post :</h2>
    {% include share-buttons.html %}
  </div>

  <div class="no-comments">
    <h2>Comments :</h2>
    <p>I don't have comments on this blog as they not only are difficult to manage, but are also prone to privacy and security risks.</p>
    <p>Instead of leaving a comment, you could <a href="mailto:pclink1@y7mail.com">Email me</a> directly.</p>
  </div>

  {% include disqus.html %}
</article>
